@import "./inter";

:root {
  --unit: 10px;

  --gutter: calc( var(--unit) * 2 );

  --site-color: #fbf1e9;

  --site-max-width: 700px;

  --text-font-size: 15px;
  --text-line-height: calc( var(--unit) * 2 );
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--site-color);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
}

h1 {
  font-size: calc( var(--text-font-size) * 2 );
  line-height: calc( var(--text-line-height) * 2 );
  margin-top: var(--text-line-height);
  margin-bottom: var(--text-line-height);
  text-align: center;
}

h2 {
  font-size:    calc( var(--text-font-size) * 1.25 );
  line-height:  calc( var(--text-line-height) * 1.25 );
  margin-top:   calc( var(--text-line-height) * 2 );
  margin-bottom: calc( var(--text-line-height) * 1.25 );
}

h3 {
  font-size:    calc( var(--text-font-size) * 1 );
  line-height:  calc( var(--text-line-height) * 1 );
  margin-top:   calc( var(--text-line-height) * 2 );
  margin-bottom: calc( var(--text-line-height) * 1 );
}

p {
  margin-top: 0;
  margin-bottom: var(--text-line-height);
}

.s-page-header {
  display: block;
  height: 15rem;
  padding-top: 2rem;

  @media (max-width: 800px) {
    height: 10rem;
  }
}

.s-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-page_content {
  margin: auto;
  width: 100%;
  max-width: var(--site-max-width);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-top: 0;
  }
}


a {
  color: inherit;
}


.app-section-box {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 5rem;
  padding-bottom: 25vh;
}
.app-section-box__section {
  display: block;
  width: 100%;
}
